doctype html
html
  head
    block title
      title Auth0 Extension
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='#{description}')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='https://cdn.auth0.com/styleguide/2.0.1/lib/logos/img/favicon.png')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    link(rel='stylesheet', type='text/css', href='https://cdn.auth0.com/manage/v0.3.973/css/index.min.css')

    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='https://fb.me/react-0.14.0.min.js')
    script(type='text/javascript', src='https://fb.me/react-dom-0.14.0.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')

    script(type='text/javascript').
      if (!sessionStorage.getItem("token")) {
        window.location.href = "/login";
      }

  body
    header.dashboard-header(style='background-color: #fbfbfb')
      nav.navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            h1.navbar-brand
              a(href='http://manage.auth0.com/')
                span Auth0
          #navbar-collapse.collapse.navbar-collapse
            ul.nav.hide.navbar-nav.navbar-left
              li.li-why
                a(href='https://auth0.com/why-auth0') Why Auth0
              li.li-how
                a(href='https://auth0.com/how-it-works') How It Works
              li.li-pricing
                a(href='https://auth0.com/pricing') Pricing
            ul.nav.navbar-nav.navbar-right
              li
                a(target='_blank', href='https://auth0.com/docs/oauth2-examples') Documentation
              li.dropdown
                span.btn-dro.btn-username(role='button')
                  img#user-picture.picture.avatar(src='https://secure.gravatar.com/avatar/a12075a065d2c41ac447dcffc1398d43?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fro.png')
                  span#username.username-text.truncate Username
                  i.icon-budicon-460
                ul.dropdown-menu.animated(role='menu', aria-labelledby='dLabel')
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#{baseUrl}/logout') Logout
    .container
      block content
